<%- include("./partials/header.ejs") %> 

<div class="container d-flex flex-column mt-4">

    <div class="d-flex flex-row flex-wrap mb-5 justify-content-around">

        <div data-aos="fade-in" data-aos-duration="1500" class="text-center my-2 ">
            <h4>Les informations pour une date sélectionnée</h4>
            <small><i>(Actualisation tout les jours à 20h00)</i></small>
        </div>
        <div data-aos="fade-in" data-aos-duration="1500" class="input-group my-2 col-4">
            <input class="m-auto" type="date" name="dateInput" id="selectDate">
        </div>



        <div data-aos="fade-in" data-aos-duration="1500" class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Hosiptalisés</div>
            <div class="card-body">
                <h5 class="card-title">Hospitalisations cumulés</h5>
                <p class="card-text" id="dateH">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre total de personnes hospitalisées pour cette date</small>
            </div>
        </div>
        
        <div data-aos="fade-in" data-aos-duration="1500" class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Décès</div>
            <div class="card-body">
                <h5 class="card-title">Bilan total des décès</h5>
                <p class="card-text" id="dateD">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre total de personnes décédées depuis le début de la pandémie, à cette date</small>
            </div>
        </div>
        
        <div data-aos="fade-in" data-aos-duration="1500" class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Nouvelles hospitalisations</div>
            <div class="card-body">
                <h5 class="card-title">Nouvelles entrées en hospitalisation</h5>
                <p class="card-text" id="dateNewH">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre total de personnes admises en hospitalisation lors de cette date</small>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row flex-wrap mb-5 justify-content-around">

        <div data-aos="fade-in" data-aos-duration="1500" class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Réanimations</div>
            <div class="card-body">
                <h5 class="card-title">Réanimations cumulés</h5>
                <p class="card-text" id="dateR">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre total de personnes admises en service de réanimation, lors de cette date</small>
            </div>
        </div>
        
        <div data-aos="fade-in" data-aos-duration="1500" class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Guéris</div>
            <div class="card-body">
                <h5 class="card-title">Bilan total de personnes guéries</h5>
                <p class="card-text" id="dateG">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre total de personnes guéries de la COVID-19, à cette date</small>
            </div>
        </div>
        
        <div data-aos="fade-in" data-aos-duration="1500" class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Nouvelles réanimations</div>
            <div class="card-body">
                <h5 class="card-title">Nouvelles entrées en réanimation</h5>
                <p class="card-text" id="dateNewR">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre total de personnes admises en service de réanimation à cette date</small>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %> 
