<%- include("./partials/header.ejs") %> 

<div class="container d-flex flex-column mt-4">

    <div class="d-flex flex-row flex-wrap mb-5 justify-content-around">

        <div data-aos="fade-in" data-aos-duration="1500" class="text-center my-2 ">
            <h4>Les informations par département sélectionné</h4>
            <small><i>(Actualisation tout les jours à 20h00)</i></small>
        </div>
        <div data-aos="fade-in" data-aos-duration="1500" class="input-group my-2 col-4">
            <select class="m-auto" name="department" id="selectDepartment">
                <option value="" selected disabled>Selectionner département</option>
                <% departmentList.forEach(department => { %>
                    <option value="<%=department.code %>" ><%= department.nom %></option>
                <% }) %>
            </select>
        </div>


        <div data-aos="fade-in" data-aos-duration="1500" class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Nouvelles hospitalisations</div>
            <div class="card-body">
                <h5 class="card-title">Nouvelles entrées en hospitalisation</h5>
                <p class="card-text" id="depNewH">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre total de personnes admises en hospitalisation aujourd'hui</small>
            </div>
        </div>

        <div data-aos="fade-in" data-aos-duration="1500" class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Hospitalisés</div>
            <div class="card-body">
                <h5 class="card-title">Hospitalisations cumulés en ce jour</h5>
                <p class="card-text" id="depH">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre total de personnes hospitalisées en ce moment</small>
            </div>
        </div>

    </div>

    <div data-aos="fade-in" data-aos-duration="1500" class="d-flex flex-row flex-wrap mb-5 justify-content-around">
        <div data-aos="fade-in" data-aos-duration="1500" class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Nouvelles réanimations</div>
            <div class="card-body">
                <h5 class="card-title">Nouvelles entrées en réanimation</h5>
                <p class="card-text" id="depNewR">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre total de personnes admises en service de réanimation aujourd'hui</small>
            </div>
        </div>

        <div data-aos="fade-in" data-aos-duration="1500" class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Réanimations</div>
            <div class="card-body">
                <h5 class="card-title">Réanimations cumulées</h5>
                <p class="card-text" id="depR">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre total de personnes admises en service de réanimation</small>
            </div>
        </div>

        
        <div data-aos="fade-in" data-aos-duration="1500" class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Décès</div>
            <div class="card-body">
                <h5 class="card-title">Bilan total des décès</h5>
                <p class="card-text" id="depD">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre total de personnes décédées depuis le début de la pandémie</small>
            </div>
        </div>
    </div>

    <div data-aos="fade-in" data-aos-duration="1500" class="d-flex flex-row flex-wrap mb-5 justify-content-around">
        <div data-aos="fade-in" data-aos-duration="1500" class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Guéris</div>
            <div class="card-body">
                <h5 class="card-title">Bilan total de personnes guéries</h5>
                <p class="card-text" id="depG">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre total de personnes guéries de la COVID-19</small>
            </div>
        </div>
        <div class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Nouvelles premières injections</div>
            <div class="card-body">
                <h5 class="card-title">Bilan journalier de premières injections de vaccin</h5>
                <p class="card-text" id="depNewI">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre de personnes ayant reçues leur première injection de vaccin (Pfizer ou Moderna) aujourd'hui</small>
            </div>
        </div>
        
        
        <div data-aos="fade-in" data-aos-duration="1500" class="card text-center col-lg-3 col-md-5 col-sm-8 my-3">
            <div class="card-header">Cumul premières injections</div>
            <div class="card-body">
                <h5 class="card-title">Bilan cumulé de premières injections de vaccin</h5>
                <p class="card-text" id="depI">
                </p>
            </div>
            <div class="card-footer">
                <small>Nombre total de personnes ayant reçues leur première injection de vaccin (Pfizer ou Moderna)</small>
            </div>
        </div>
    </div>

</div>

<%- include("./partials/footer.ejs") %> 
